# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Generated CSS
public/assets/css/style.css
public/assets/css/style.css.map

# Package files
package-lock.json
yarn.lock

# Git
.git/

# IDE
.vscode/
.idea/
